<!DOCTYPE html>
<html lang="en">
    {{- $avatarImgSrc := .Site.Params.AvatarURL -}}
    {{- if and (isset site.Params "avatarURL") (not (hasPrefix $avatarImgSrc "http")) -}}
        {{- $avatarImgSrc = (urls.JoinPath $.Site.BaseURL ($.Site.Params.AvatarURL | default "")) -}}
    {{- end -}}
    {{- .Scratch.Set "avatarImgSrc" $avatarImgSrc -}}

    {{- partial "head.html" . -}}
    <body>
        <script>
            // Immediately set theme on page load
            setThemeByUserPref();
        </script>
        {{- partial "header.html" . -}}
        <main id="content">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-NK3CQ4XPCB"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}

        const consentRevokedKey = "consent_revoked"
        const optOutPageLink = document.getElementById('optout')

        function revokeConsent(event) {
            event.preventDefault();

            localStorage.setItem(consentRevokedKey, "true")
            gtag('consent', 'update', {
                'ad_storage': 'denied',
                'ad_user_data': 'denied',
                'ad_personalization': 'denied',
                'analytics_storage': 'denied'
            });

            // Update the link to be better text
            if (optOutPageLink) {
                optOutPageLink.innerHTML = "You've been opted out.";
            }
        }

        if (localStorage.getItem(consentRevokedKey)) {
            gtag('consent', 'default', {
                'ad_storage': 'denied',
                'ad_user_data': 'denied',
                'ad_personalization': 'denied',
                'analytics_storage': 'denied'
            });

            if (optOutPageLink) {
                optOutPageLink.innerHTML = "You've already opted out of cookies.";
            }
        } else {
            gtag('consent', 'default', {
                'ad_storage': 'denied',
                'ad_user_data': 'denied',
                'ad_personalization': 'denied',
                'analytics_storage': 'granted'
            });
        }

        if (optOutPageLink) {
            // Listen for the opt out event, then update the consent.
            optOutPageLink.addEventListener("click", revokeConsent);
        }

        gtag('js', new Date());
        gtag('config', 'G-NK3CQ4XPCB');
        </script>
    </body>
</html>
